In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, StratifiedKFold
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score, roc_auc_score, roc_curve
import nltk
import re
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk import tokenize
from tqdm import tqdm

In [2]:
TRAIN_DATA_PATH = "Data/train.csv"
NUM_FOLDS = 5

In [3]:
df = pd.read_csv(TRAIN_DATA_PATH)

In [4]:
kf = StratifiedKFold(n_splits=NUM_FOLDS, shuffle=False)
# kf = KFold(n_splits=NUM_FOLDS, shuffle=False)
train_index, val_index = next(kf.split(df["profile"], df["profession"]))
# train_index, val_index = next(kf.split(df))
train_data = df.iloc[train_index]
val_data = df.iloc[val_index]

In [5]:
x_test = val_data["profile"]
y_test = val_data["profession"]

x_test.to_csv("kshitij_data/test.csv")
y_test.to_csv("kshitij_data/output.csv")

In [6]:
train_data.to_csv("kshitij_data/train.csv")

In [ ]:
preds = pd.read_csv("")

In [7]:
new = train_data.dropna()

In [8]:
train_data.shape

(102284, 2)

In [9]:
new.shape

(102284, 2)

In [11]:
# check if two dataframes are equal
new.equals(train_data)

True

In [13]:
train_data.head(-10)

                                                  profile    profession
21902   After seeing DJ Tiesto perform at the Olympics...            dj
21923   Having first whet his appetite for dance music...            dj
22944   Martin Pistorius's book "Ghost Boy" tells how ...            dj
23018   From being the resident DJ at the biggest gay ...            dj
23023   The Raeve Maeve’s expressions will change duri...            dj
...                                                   ...           ...
127840  As a long time arts and business entrepreneur,...          poet
127841  She currently teaches at Bordeaux Institute of...       teacher
127842  She studied karate in high school, only to lat...  psychologist
127843  What makes her position unique, however, is th...     professor
127844  His current research interests explore the app...     professor

[102274 rows x 2 columns]

In [12]:
output = pd.read_csv("kshitij_data/output.csv")

In [13]:
preds = pd.read_csv("kshitij_data/preds.csv")

In [14]:
y_val = output["profession"]
y_pred = preds["profession"]
print("Micro F1: ", metrics.f1_score(y_val, y_pred, average='micro'))
print("Macro F1: ", metrics.f1_score(y_val, y_pred, average='macro'))
print("Average F1: ", (metrics.f1_score(y_val, y_pred, average='micro') + metrics.f1_score(y_val, y_pred, average='macro'))/2)

Micro F1:  0.822572445348246
Macro F1:  0.7699117532316845
Average F1:  0.7962420992899653